#Kafka
KAFKA_BOOTSTRAP_SERVER=broker:29092
KAFKA_CONSUMER_GROUP=kafka-consumer
KAFKA_CLIENT_NAME=kafka-consumer
KAFKA_CLIENT_SECRET=secret-password
KAFKA_TOPIC=com.company.vertical.migrate-user
KAFKA_READ_TOPIC_FROM_THE_BEGINNING=false
KAFKA_PROTOCOL=SASL_PLAINTEXT

#anything but 'json-logging' is a basic text logger
LOGGER_PROFILE=text